@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <br />
    <h3>Dobrodosli na Pocetnu stranu naseg Projekta!</h3>
    <br/>
    <p>Studenti koji su učestvovali realizaciji ovog projekta su:</p>
    <ul>
        <li>Marko Filimonovic</li>
        <li>Milos Spasojevic</li>
        <li>Nadica Zarkic</li>
        <li>Aleksa Shahgoli</li>
        <li>Stefan Filipovic</li>
    </ul>
    <br/>
    <p>Ako zelite da pristupite Podacima Skola, idite na stranu Obrazac</p>


</div>

